.ItemContainer {
  padding: 16px;
}

.ItemCard {
  float: left;
  margin: 6px;
  background: whitesmoke;
  width: 30%;
  height: 400px;
}

.ItemCard:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
  
.PlantImage {
  width: 70%;
}
