/* ////ITEMSLIST////// */

.ItemList {
  float: left;
  margin: 6px;
  background: whitesmoke;
  width: 30%;
  height: 50px;
}

.ItemList:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ItemList h3 {
  text-decoration: none;
  font-size: 16px;
  color: #354223;
}

/* ////ITEMCARD////// */

.ItemCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 100px 0;
  width: 100%;
}

.ItemCard h3 {
  font-size: 24px;
  color: #354223;
  margin: 0;
}

.ItemCard p {
  max-width: 400px;
  text-align: center;
  font-size: 16px;
}

.ItemCard img {
  width : 300px;
  height: 300px;
}

.FormDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
  width: 100%;

}

.FormDiv h3 {
  margin: 25px;
  font-size: 24px;
  color: #354223;
}

.FormDiv button {
  margin: 50px;
}

.FormInput {
  display: inline-block;
  float: left;
  clear: left;
  width: 80%;
  text-align: left;
  }

.FormInput input {
  display: inline-block;
  float: right;
}
